@charset "utf-8";
body {
    font-family: 'Coda';
    padding: 0px;
    margin: 0px;
    background: #ebeeef;
}
.loading-overlay{
display: none;
  background: rgba(26, 26, 26, .7);  
  position: fixed;
  width: 100%;
  height:  100%;
  z-index: 5;
  top: 0;
}
.loading-overlay-image-container{
    display: none;
    position: fixed;
    z-index: 7;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.loading-overlay-img{
    width:  50px;
    height:  50px;
    border-radius: 5px;

}

#load_test{
    color: #333;
    cursor: pointer;
}
#load_test:hover { 
    text-decoration: underline;
}